:root {
    --author-width: 14rem;
  }

#wallpaper {
    display: table;
    width: 100%;
    height: 15rem;
    margin-bottom: calc((var(--author-width)/2)*-1);
    background: url(test/img2.jpeg) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#author{
    width: var(--author-width);
}
